@main("Todo list") {
    <div id="todo-wrapper" class="container">
        <div id="todo-wrapper" class=" ">
            <p>Volume: <input type="number" data-bind="value: volume" /></p>
            <p>Rate  : <input  type="number" data-bind="value: rate" /></p>

            <p>Current Temperature: <strong  type="number" data-bind="text: currentTemperature"></strong></p>
            <a href="#" data-bind="click: currentTemperatureCall">call</a>
        </div>
        <script src="@routes.Assets.at("javascripts/controllers.js")" type="text/javascript"></script>
    </div>
}
